<div ng-controller="BrowseCtrl" class="container">
    <table class="table">
        <tr>
            <th>Year</th>
            <th>Quarter</th>
            <th>Course Name</th>
            <th>Instructor</th>
        </tr>
        <tr ng-repeat="course in courses">
            <td>{{course.year}}</td>
            <td>{{course.quarter}}</td>
            <td><a ui-sref="course({courseId: course._id})">{{course.name}}</a></td>
            <td>{{course.instructor.name}}</td>
        </tr>
    </table>
</div>
<div ui-view></div>