<div ng-controller="CourseCtrl" class="container">
    <div class="card card-block">
        <div>{{course.year}}, {{course.quarter}}, {{course.instructor.name}}</div>
        <h4 class="card-title">{{course.name}}</h4>
    </div>

    <button type="button" class="btn" ng-click="isBtnReviewClicked=true;">
        <span class="octicon octicon-pencil"></span>
        <span>Write a review</span>
    </button>
    <div ng-show="isBtnReviewClicked" ng-include="'templates/add_review_form.html'">
    </div>

    <hr/>
    <div ng-repeat="review in reviews">
        <div>
            <img src="image/person-placeholder.png" class="img-circle profile" />
            <span>{{review.author.name}}</span>
        </div>
        <p class="card-text">{{review.text}}</p>
        <hr ng-if="!$last"/>
    </div>
    <hr/>

</div>
<div ui-view></div>