<div class="container" ng-controller="homeCtrl">
    <h6>New Course Reviews</h6>
    <div>
        <div class="card card-block" ng-repeat="item in recent">
            <small>{{item.course.year}}, {{item.course.quarter}}, {{item.course.instructor.name}}</small>
            <h4 class="card-title"><a ui-sref="course({courseId: item.course._id})">{{item.course.name}}</a></h4>

            <div>
                <img src="image/person-placeholder.png" class="img-circle profile" />
                <span>{{item.author.username}}</span>
            </div>

            <p class="card-text">
                {{item.text | limitTo: previewLimit}}
                <span ng-if="item.text.length > previewLimit">...<br/><a href="#" class="card-link">Read More</a></span>
            </p>

            <small class="text-muted">Written {{item.created | date:fullDate}}</small>
        </div>
    </div>
</div>
<div ui-view></div>